body {
  background-color: #D3D3D3;
  color: #00000;
  font-size: 100%;
}

nav {
  background-color: rgba(0,0,0,.5);
  float: left;
  position: fixed;
  width: 100%;
}

a {
  text-decoration: none;
}

a:hover { color: #994000; }
a:link { color: #ffffff; }

figcaption{
  font-size: 90%;
  padding-bottom: 20px;
}

h1{
  font-size: 280%;
  font-weight: bold;
  padding-bottom: 20px;
}

h3{
  font-size: 150%;
  padding-bottom: 20px;
  line-height: 150%;
}

.author{
  font-size: 110%;
  font-style: italic;
  padding-bottom: 20px;
}

p{
  padding-bottom: 20px;
  line-height: 150%;
}




.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}
